*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.header{
    text-align: center;
    margin: 30px 0;
    max-height: 141px;
}
.header *{
    margin-bottom: 15px;
}
h1{
    font-size: 42px;
}
h2{
    font-size: 29px;
}
span{
    color: #0C9B68;
}
a{
    color: #0C9B68;
    border-bottom: 2px dotted #0C9B68;
    border-radius: 5%;
    text-decoration: none;
}

.content{
    width: 79%;
    height: 52%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .arrow{
    width: 75px;
    height: 75px;
    opacity: .5;
}
.block{
    width: 27%;
    height: 100%;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block img{
    height: 55%;
    width: 70%;
    margin-top: 20px;
}
.block .wrap{
    width: 85%;
    height: 100%;
    display: table;
}
.block p{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.block1 p{
    font-size: 24px;
}
.block2 p{
    font-size: 19px;
}
.block3 p{
    font-size: 20px;
}
.block2 img{
    height: 61%;
    width: 90%;
}
.block3 img{
    height: 30%;
    width: 90%;
    margin-top: 25%;
}

.support{
    margin: 30px 0;
    display: flex;
    align-items: center;
}
#author{
    margin-right: 30px;
}

#langBtnRU{
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 20px;
}
#langBtnEN{
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 20px;
}

/* FONTS */

body{
    font-family: 'Sen', sans-serif;
}
p{
    font-family: 'Roboto Slab', serif;
}
